body *{
	font-family: 'Open Sans', sans-serif;
}

.oil_title {
	font-family: 'Protest Strike';
    font-weight: bold;
    color: #8B4513;
}

.oil_text_header {
    font-weight: bold;
    color: #8B4513;
	font-size: 1.5em;
}

.oil_text {
    font-weight: bold;
    color: #8B4513;
}
  
h1 {
	font-family: 'Protest Strike';
	font-size: 80px;
}

.protest-strike-regular {
	font-family: "Protest Strike", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
 
p {
	line-height: 1.5;
}

body {
	background-color: lightgray;
}

.image-container {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
  
.image-container img {
	width: 100%;
	max-width: 500px;
	height: 350px;
}

.page {
	width: 1250px;
	background-color: white;
	margin: auto;
	padding: 50px;
	padding-top: 35px;
}
  
.vis-container {
	width: 100%;
	border: none;
	outline: none;
}

.vis-map-container {
	display: flex;
    justify-content: center;
    align-items: center; 
	width: 100%;
	height: auto;
	border: none;
	box-shadow: none;
}
  
h1 {
	text-align: center; /* Center the text */
	margin-top: 30px; /* Optional: Remove the top margin if you want it to sit higher */
	margin-bottom: 50px;
  }
  
.description-right {
	padding-left: 20px;
	margin-bottom: 40px;
}
  
.description-left {
	padding-right: 20px;
	margin-bottom: 40px;
}
  
.pure-g {
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
  }
  
.small-font {
	font-size: 14px;
}

.gap{
	margin-bottom: 20px;
}